<!DOCTYPE html>

<html lang="en">

<head>
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/css/custom.css" rel="stylesheet" media="screen">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<div id="principal" class="container-narrow">
	
		#parse("logged-header.vm")
		
			<div class="container">
		
				<div class="col-md-8">
					<h1>$article.title</h1>
				</div>
				
				<h4>by $article.author</h4>
				
				<hr>
				
				<br/>
				
				<img class="img-circle" src="$article.image" alt="$article.title" height="200" width="200">
				
				<br/><br/>
				
				<p class="lead">$article.content</p>
				
				<br/><br/>
				
				<p><a class="btn btn-large btn-primary" href="/">Return to Home</a></p>
				
			</div>	
			
    	</div>
	
		<script src="http://code.jquery.com/jquery.js"></script>
	    <script src="js/bootstrap.min.js"></script>
</body>

</html>
